/* Remove Default Arrow DataTable */
.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}
thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {}


.dataTables_wrapper > .d-flex {
    margin-bottom: 14px;
    margin-top: 14px;
}
.dataTables_wrapper > .align-items-center {
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}
.dtr-control{
    text-align: center;
}
